@font-face {
    font-family: 'Lato-regular';
    src: url("../fonts/Lato-Regular.woff2"),
         url("../fonts/Lato-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: 'Lato-Italic';
    src: url("../fonts/Lato-Italic.woff2"),
         url("../fonts/Lato-Italic.ttf");
    font-display: swap;
}


@font-face {
    font-family: 'Lato-Bold';
    src: url("../fonts/Lato-Bold.woff2"),
         url("../fonts/Lato-Bold.ttf");
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url("../fonts/Poppins-Bold.woff2"),
         url("../fonts/Poppins-Bold.ttf");
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Light';
    src: url("../fonts/Poppins-Light.woff2"),
         url("../fonts/Poppins-Light.ttf");
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url("../fonts/Poppins-Medium.woff2"),
         url("../fonts/Poppins-Medium.ttf");
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url("../fonts/Poppins-Regular.woff2"),
         url("../fonts/Poppins-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: 'Droid-Italic';
    src: url("../fonts/Droid-italic.woff2"),
         url("../fonts/Droid-italic.ttf");
    font-display: swap;
}

@font-face {
    font-family: 'Droid-Regular';
    src: url("../fonts/Droid-regular.woff2"),
         url("../fonts/Droid-regular.ttf");
    font-display: swap;
}