.pricing-pricelist {
    padding-top: 159px;
    padding-bottom: 147px;
    &-content {
        display: flex;
        justify-content: space-between;
    }
    &-item {
        width: 23%;
    }
    &-price {
        font-family: 'Lato-Bold', serif;
        font-size: 32px;
        color: $main;

        border-bottom: 1px solid #eeeeee;

        padding-bottom: 20px;
        margin-bottom: 40px;
        span {
            color: $text;
            font-family: 'Lato-regular', serif;
            font-size: 14px;
        }
    }
    &-title {
        text-transform: uppercase;
        font-family: 'Poppins-Bold', serif;
        color: $main;

        margin-bottom: 25px;
    }
    &-text {
        color: $text;
        line-height: 1.5;

        padding-bottom: 35px;
        margin-bottom: 38px;

        border-bottom: 1px solid #eeeeee;
    }
    &-button {
        color: #fff;
        font-family: 'Poppins-Regular', serif;
    }
}

@media screen and (max-width: 1300px) {
    .pricing-pricelist {
        padding-top: 100px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width: 1200px) {
    .pricing-pricelist {
        padding-bottom: 50px;
        &-content {
            flex-wrap: wrap;
        }
        &-item {
            margin-bottom: 80px;
            width: 45%;
        }
        &-text {
            height: 100px;
            padding-bottom: 0;
        }
    }
}

@media screen and (max-width: 800px) {
    .pricing-pricelist {
        padding-top: 50px;
    }
} 

@media screen and (max-height: 450px) {
    .pricing-pricelist {
        padding-top: 170px;
    }
}

@media screen and (max-width: 640px) {
    .pricing-pricelist {
        padding-top: 150px;
        padding-bottom: 0;
    }
}   

@media screen and (max-width: 500px) {
    .pricing-pricelist {
        padding-top: 130px;
        &-text {
            font-size: 10px;
            height: 70px;

            margin-bottom: 15px;
        }
        &-price {
            margin-bottom: 20px;
            span {
                font-size: 12px;
            }
        }
        &-button {
            font-size: 10px;
        }
        &-item {
            margin-bottom: 40px;
        }
    }
}

@media screen and (max-width: 450px) {
    .pricing-pricelist {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 400px) {
    .pricing-pricelist {
        padding-top: 120px;
        padding-left: 20px;
        padding-right: 20px;
        &-text {
            font-size: 10px;
            height: 70px;

            margin-bottom: 15px;
        }
        &-price {
            font-size: 20px;
        }
        &-title {
            font-size: 12px;
        }
        &-button {
            font-size: 10px;

            padding: 10px 10px;
        }
        &-item {
            width: 40%;
            margin-bottom: 40px;
        }
    }
}